.title {
  margin-top: 0;
  margin-bottom: 56px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #323c48;
  text-align: center;
}
